


/* 
*Every HTML element on a page is positioned based on css rules.
*There are five main positioning types. which are::after
 (1). static
 (2) relative 
 (3)absolute 
 (4)fixed
 (5)sticky
  */
  .box{
    width: 200px;
    height: 100px;
    background: lightblue;
    position: static;
  }