/* body{
    background-color:yellow;
}
h2 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
    color:red;
}
.container p{
    color:red;
}

.card .content p{
    font-size: 24px;
    color: red;
font-weight: bolder;
}
.container > p, ul li > p{    
    color: red;
}
h2 + p, p , p, div{
    color:red;
    font-weight: bolder;
}
h2 ~ p{
    color:red;
     font-style: italic;
} */
 /* **** CSS (background-color) property. */

 /* .color-demo{
    padding: 30px;
text-align: center; */
/* color:antiquewhite; */
/* margin:50px auto; */
 /* } */
/* 
 .solid-bg{
background:linear-gradient(to top, red, blue)
 } */

 /* ** Linear Gradient IN CSS */
 /* A linear gradiebt is a type of image defined in CSS that creates a smooth, continuous, transition btw two , or more colors along a straight line.
 ! [NOTE] it is a powerful, flexible and performant way add colorful backgrounds to elements without needing to use external images files (like JPEGs or PNGs).
  */

  /* .gradient-bg{
    background:linear-gradient(to left, red ,blue, yellow) ; */
  /* } */
  /* .simple-image{
    background-image: url('view.jpg');

    width: 100%;
    height: 100px;
    background-repeat: no-repeat ;
  } */

  /* body{
    padding: 0;
    margin: 0;
    background-image: url('view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
  }
   h2,p{
    color: rgb(233, 228, 228)
  } */

  /* body{
    font-family: Open sans, sans-serif;
    /* line-height, controls the vertical space btw lines of text */
    /* line-height: 1.6;
    background-color: hwb(53 78% 15%);
    max-width: 800px;
    padding: 50px;
  } */

  /* h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#0c4e91;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 50px;
  } */

  /* .example-container{
    background: rgb(226, 219, 219);
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
  } */


  /* .font-family-example{
    font-family:Georgia,  'Times New roman', Times, serif;
    font-size: 1.2em;
  }

  .font-sizing{ */
    /* font-size: 1.5rem;
    font-weight: 400;
    font-style:italic;
  } */
  /* .colorful-text{
    color: #e74c3c;
    background-color: #fdeaea;
    padding: 10px;
    border-radius: 5px;
  } */
  /* .aligned-text{
    text-align: justify;
    color:#0c4e91

  } */

  /* .decorated-text{
    text-decoration:underline dotted #3498db ;
    text-transform:capitalize ;
  } */

  /* .spaced-text{
    letter-spacing:2px ;
    line-height: 2;
    background-color: beige;
    padding: 15px;
  } */

  /* .tight-text{
    letter-spacing: -0.5px;
    font-weight: bold;
    }  */




    .box{
      background-color: rgb(241, 15, 15);
      width: 300px;
      margin: 10px;
      padding: 20px;
      border: 20px double rgb(235, 248, 235);
      height: 100px;
      color: aliceblue;
    }
    h1{
      color: red;
    }

    .card{
      width: 330px;
      padding-top: 10px;
      padding-left: 5px;
      padding-bottom: 40px;
      padding-right: 5px;


      margin-top:20px ;
      margin-right: 50px;
      margin-bottom: 10px;
      margin-left: 9px;
      border: 20px double white;
      color: beige;


      background: red;
    }
    .smart-box{
      width: 300px;
      padding: 20px;
      border: 20px double red;
      background: white;
      box-sizing: border-box;
      margin: 16px;
    }

    