body{
    background-color:yellow;
}
h2 {
    text-align: center;
    color: red;
}
.container p{
    color:red;
}

.card .content p{
    font-size: 24px;
    color: red;
font-weight: bolder;
}
.container > p, ul li > p{ 
    color: red;
}