body{
    background-color:yellow;
}
h2 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
    color:red;
}
.container p{
    color:red;
}

.card .content p{
    font-size: 24px;
    color: red;
font-weight: bolder;
}
.container > p, ul li > p{    
    color: red;
}
h2 + p, p , p, div{
    color:red;
    font-weight: bolder;
}
h2 ~ p{
    color:red;
     font-style: italic;
}